/Cube-Sugar-Modpack/logs
/Cube-Sugar-Modpack/crash-reports
/Cube-Sugar-Modpack/XaeroWaypoints
/Cube-Sugar-Modpack/XaeroWaypoints*
/Cube-Sugar-Modpack/XaeroWorldMap
/Cube-Sugar-Modpack/XaeroWorldMap*
/Cube-Sugar-Modpack/realms_persistence.json
/Cube-Sugar-Modpack/servers.dat
/Cube-Sugar-Modpack/servers.dat_old
/Cube-Sugar-Modpack/usercache.json
/Cube-Sugar-Modpack/schematics
/Cube-Sugar-Modpack/saves